
body {
	background-color:#ccc;
	margin:0px;
	padding:0px;
	font-size:15px;
	line-height:150%;
	color:#666;
	font-family:sans-serif;
	overflow:hidden;

}


h1 {
	font-size:30px;
	font-weight:bold;
	color:#aaa;
	padding:0px;
	margin-top:10px;
	margin-bottom:25px;

	
}

#info {
	margin:20px;
}

#fullscreen {
	position:absolute;
	top:10px;
	right:10px;
	padding:10px;
}

#launcher {
	margin-top:30px;

}

#url {
	width:350px;
	padding-left:3px;
}

